<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>roomly</title>
  <link rel="stylesheet" href="./output.css">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-center px-4">
  <h1 class="text-3xl font-bold text-red-800 mb-6">Welcome to Home Page</h1>
  
  <a
    href="/host/add-home"
    class="inline-block bg-blue-600 text-white px-6 py-2 rounded-lg text-lg hover:bg-blue-700 transition duration-300"
  >
    Add Home
  </a>
</body>
</html>