<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-green-50 flex flex-col items-center justify-center p-4">
    <%- include('./partials/header')%>
  <h1 class="text-2xl font-bold text-green-700 mb-6">Home registered successfully</h1>

  <a
    href="/"
    class="bg-green-600 text-white px-6 py-2 rounded-lg text-lg hover:bg-green-700 transition duration-300"
  >
    Go to Home
  </a>
</body>

</html>