<nav class="bg-blue-600 py-4 px-6 text-white">
  <div class="flex justify-between items-center">
    <!-- Left Logo + Links -->
    <div class=" flex items-center space-x-4">
      <h1 class="text-2xl font-bold">ROOMLY</h1>
     <div class="px-10">
       <a href="/" class="px-4 py-2 hover:bg-blue-600 rounded-md">Home</a>
      <a href="host/add-home" class="px-4 py-2 hover:bg-blue-600 rounded-md">Add Home</a>
      <a href="/favourite" class="px-4 py-2 hover:bg-blue-600 rounded-md">Favourite</a>
     </div>
    </div>

    <!-- Right Side: Search + User Options -->
    <div class="flex items-center space-x-4">
      <input
        type="text"
        placeholder="Search..."
        class="px-4 py-2 rounded-md text-gray-800"
      />
      <a href="/login" class="px-4 py-2 hover:bg-blue-600 rounded-md">Login</a>
      <a href="/register" class="px-4 py-2 hover:bg-blue-600 rounded-md">Register</a>
      <a href="/profile" class="px-4 py-2 hover:bg-blue-600 rounded-md">Profile</a>
    </div>
  </div>
</nav>
